@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:wght@300;400;600&family=Satisfy&display=swap');

/* 
font-family: 'Dancing Script', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Satisfy', cursive;
*/

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

a{
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    color: white;
}

header{
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
}

h1{
    font-family: 'Satisfy', cursive;
}

.tabs{
    background-color: yellow;
    
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0 auto;
}

.tab{
    /* max-width: 500px; */
    background-image: url("images/triangle.png");
    width: 12rem;
    height: 10vh;
    background-color: pink;
    border: 1px solid black;
    margin: 1rem auto;
    padding: 0 1rem;
    line-height: 10vh;
}

li{
    display: inline;
}