@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:wght@300;400;600&family=Satisfy&display=swap');

/* 
font-family: 'Dancing Script', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Satisfy', cursive;
*/

:root {
    --dark-brown: #3d2f22;
    --mid-brown: #5e4e3f;
    --light-brown: #918376;
    --bg-brown: #ccc0b6;
    --last-brown: #e2d8cf;
}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: var(--dark-brown);
}

a{
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    color: white;
}

header{
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
}

h1{
    font-family: 'Satisfy', cursive;
    margin: 0 auto;
}

.tabs{
    background-color: var(--bg-brown);
    border: 3px solid var(--mid-brown);
    border-radius: 1rem;
    box-shadow: 2px 2px 22px 5px rgba(61, 47, 34, .5);
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0 auto 1rem auto;
}

@media screen and (max-width: 400px) {
    .tabs {max-width: 270px;}
  }

.tab{
    /* background-image: url("https://ak.picdn.net/shutterstock/videos/6354461/thumb/2.jpg"); */
    background-color: var(--mid-brown);
    width: 12rem;
    height: 10vh;
    border: 1px solid black;
    border-radius: 1rem;
    margin: 1rem auto;
    padding: 0 1rem;
    line-height: 10vh;
    font-family: 'Satisfy', cursive;
    font-size: large;
    font-weight: 600;
}

li{
    display: inline;
    margin: 0 1rem;
}

ul{
    margin-bottom: 0;
    padding-inline-start: 0;
}

footer{
    text-align: center;
    padding: 0.5rem;
    background-color: var(--dark-brown);
}

.footHeading{
    margin-top: 0;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    color: white;
}

/* 1st tab: check angles */

.card{
    padding: 1rem;
    max-width: 600px;
    /* background-color: var(--light-brown); */
    /* align-items: center; */
    text-align: center;
    margin: auto;
}

input{
    display: block;
    margin: 0.5rem auto;
    padding: 0.5rem;
    border: 1px solid var(--dark-brown);
    border-radius: 0.7rem;
    background-color: var(--last-brown);
}

.angles{
    padding: 1rem;
}

button{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--bg-brown);
    background-color: var(--dark-brown);
    color: white;
    margin-top: 0.5rem;
}

.result{
    margin: 1rem;
    /* background-color: var(--mid-brown); */
    color: var(--mid-brown);
    font-weight: 900;
    padding: 0.5rem;
    border-radius: .7rem;
    border: 1px solid var(--dark-brown);
    max-width: 60%;
    align-items: center;
    margin: 1rem auto;
}

.formula{
    color: var(--mid-brown);
    font-family: 'Satisfy', cursive;
    font-weight: 900;
    font-size: 1.5rem;
    margin-top: 1rem;
}

/* quiz */

.ques{
    background-color: var(--last-brown);
    text-align: left;
    padding: 1rem;
    margin: 1rem;
}

#mc{
    display: inline;
    margin-right: 0.5rem;
}

.margin{
    margin-top: 0;
}

