@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:wght@300;400;600&family=Satisfy&display=swap');

:root {
    --dark-brown: #3d2f22;
    --mid-brown: #5e4e3f;
    --light-brown: #918376;
    --bg-brown: #ccc0b6;
    --last-brown: #e2d8cf;
}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: var(--dark-brown);
}

a{
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    color: white;
}

header{
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    padding: 1rem 1rem 1.4rem 1rem;
}

h1{
    font-family: 'Satisfy', cursive;
    margin: 0 auto;
}

.tabs{
    display: grid;
    grid-template-columns: auto auto;
    /* background-color: var(--dark-brown); */
    height: 180px;
    /* line-height: 60px; */
}

.tab{
    width: 60%;
}

li{
    display: inline;
    margin: 0 1rem;
}

ul{
    margin-bottom: 0;
    padding-inline-start: 0;
}

footer{
    text-align: center;
    padding: 0.5rem;
    background-color: var(--dark-brown);
}

.footHeading{
    margin-top: 0;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    color: white;
}

.card{
    padding: 1rem;
    max-width: 600px;
    text-align: center;
    margin: auto;
}

input{
    display: block;
    margin: 0.5rem auto;
    padding: 0.5rem;
    border: 1px solid var(--dark-brown);
    border-radius: 0.7rem;
    background-color: var(--last-brown);
}

.angles{
    padding: 1rem;
}

button{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--bg-brown);
    background-color: var(--dark-brown);
    color: white;
    margin-top: 0.5rem;
}

.result{
    color: var(--dark-brown);
    font-weight: 900;
    border-radius: .7rem;
    border: 1px solid var(--dark-brown);
    max-width: 60%;
    align-items: center;
    margin: 1rem auto;
    visibility: hidden;
    padding: 0.5rem 0.7rem;
}

/* same as .result */
.boxlink{
    color: var(--dark-brown);
    font-weight: 900;
    border-radius: .7rem;
    border: 1px solid var(--dark-brown);
    max-width: 60%;
    align-items: center;
    margin: 1rem auto;
    padding: 0.5rem 0.7rem;
    cursor: pointer;
}

.color{
    color: var(--dark-brown);
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.formula{
    color: var(--mid-brown);
    font-family: 'Satisfy', cursive;
    font-weight: 900;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.ques{
    background-color: var(--last-brown);
    text-align: left;
    padding: 1rem;
    margin: 1rem;
}

#mc{
    display: inline;
    margin-right: 0.5rem;
}

.margin{
    margin-top: 0;
}